footer{
    background-color: #fff;
    height:60px;  
    align-items:center;
    display: flex; 
    position: absolute; 
    bottom:0;
    color:black;
    justify-content: center;
    width:100%;
    border-top: 1px solid #ccc;
}

